
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-nowrap">
                            <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-center">Sr No.</th>
                                <th class="uk-width-2-10 uk-text-center">Sender Id</th>
                                <th class="uk-width-2-10 uk-text-center">Status</th>
                                <th class="uk-width-1-10 uk-text-center">Created</th>
                                <th class="uk-width-2-10 uk-text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in userSenderData" >                                
                                <td class="uk-text-center">{{ $index +1 }}</td>
                                <td class="uk-text-center" ><span ng-dblclick=editSender(data.id); class="senderIdtd{{data.id}} editSender" data-uk-tooltip="{pos:'right'}" title="Double Click to Edit">{{ data.sender_id}}</span></td>
                                <td class="uk-text-center">{{ data.status ==1 ? 'Active' : 'Inactive'}}</td>
                                <td class="uk-text-center">{{ data.created}}</td>
                                <td class="uk-text-center">
                                    <a  ng-click="deleteSenderId(data.id)"><i class="md-icon material-icons" data-uk-tooltip="{pos:'bottom'}" title="Delete" >&#xE872;</i></a>
                                </td>
                            </tr>                           

                            </tbody>
                        </table>
                    </div>
                    <ul class="uk-pagination uk-margin-medium-top">
                        <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                        <li class="uk-active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><span>&hellip;</span></li>
                        <li><a href="#">10</a></li>
                        <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                    </ul>
             