<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Sender ID</h3>

        <!-- <div class="md-card">
            <div class="md-card-content">
                  <sender-id></sender-id>
            </div>
        </div> -->
        
		<div class="uk-grid" data-uk-grid-margin="">
		    <div class="uk-width-medium-1">
		        <div class="md-card">
		            <div class="md-card-content">
		                <div class="uk-grid">
		                    <div class="uk-width-large-1 uk-text-center">
		                        <sender-id></sender-id>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Manage Sender ID -->
		<!-- <h3 class="heading_b uk-margin-bottom">Manage Sender ID</h3> -->
		<div class="uk-grid">
		    <div class="uk-width-medium-1-6 uk-text-center">        
		            <input type="text" size="5" ng-change="getData(1)" config="no_of_data_config" options="no_of_data.options" ng-model="data_per_page" selectize />        
		    </div>
		</div>

		<div class="uk-grid" data-uk-grid-margin="">
		    <div class="uk-width-medium-1">
		       <div class="md-card uk-margin-medium-bottom">
	                <div class="md-card-content">
	                    <manage-senderid></manage-senderid>
	                </div>
                </div>
		    </div>
		</div>
		<!-- <div class="uk-grid" data-uk-grid-margin="">
		    <div class="uk-width-medium-1">
		        <div class="md-card">
		            <div class="md-card-content">
		                <div class="uk-grid">
		                    <div class="uk-width-large-1 uk-text-center">
		                        <manage-senderid></manage-senderid>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div> -->
    </div>
</div>
