<div id="page_content">
    <div id="page_content_inner">
   		<div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-1-2" ng-repeat="smsType in smsTypes">
                <div class="md-card">
                    <div class="md-card-content">
                        <a ng-click="select(smsType.id,smsType.title)" ng-class="selectedProductId == smsType.id ? 'activeSmsType' : 'deActiveSmsType'" class="md-btn md-btn-block md-btn-wave-light waves-effect waves-button waves-light" href="javascript:void(0)">{{ smsType.title }}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <br> -->
        <h4 class="heading_b">You have selected {{ selectedProductName }}</h4>
        <sms-type></sms-type>
    </div>
</div>