<div class="uk-grid" data-uk-grid-margin="">
    <div class="uk-width-medium-1-2">
        <div class="md-card" style="height: 100%;">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1 uk-width-large-1">
                        <div class="parsley-row">
                            <label>Sender Id</label>
                            <input type="text" config="sender_id_config" options="sender_id_data.options" ng-model="sender_id" name="sender_id" selectize />
                        </div>                                                        
                    </div>                 
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div ng-show="toShowUnicode != 'UNICODE'" class="uk-width-medium-1 uk-width-large-1">
                        <div class="parsley-row">
                            <label>SMS Type</label>
                            <input type="text" ng-change="changeSMSType()" config="sms_type_config" options="sms_type_data.options" ng-model="sms_type" name="sms_type" selectize />
                        </div>                                                        
                    </div>
                    <div ng-show="toShowUnicode == 'UNICODE'" class="uk-width-medium-1-2 uk-width-large-1-2">
                        <div class="parsley-row">
                            <label>SMS Type</label>
                            <input type="text" ng-change="changeSMSType()" config="sms_type_config" options="sms_type_data.options" ng-model="sms_type" name="sms_type" selectize />                            
                        </div>                                                        
                    </div>
                    <div ng-show="toShowUnicode == 'UNICODE'" class="uk-width-medium-1-2 uk-width-large-1-2" ng-controller="bulkSmsUnicodeCtrl">
                        <sms-unicode></sms-unicode>                                               
                    </div>                     
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1 uk-width-large-1">
                        <div class="parsley-row">
                            <label>SMS Method</label>
                            <input type="text" ng-change="changeMethod()" config="sms_method_config" options="sms_method_data.options" ng-model="sms_method" name="sms_method" selectize />                            
                        </div>                                                                                
                    </div>
                </div>                                                      
            </div>
        </div>
    </div>
    <div class="uk-width-medium-1-2">
        <div class="md-card" style="height: 100%;">
            <div class="md-card-content">      
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2 uk-width-large-1-2">                        
                        <div class="parsley-row" ng-show="toShow==1">
                            <label>Mobile</label>
                            <textarea no-space only-digits ng-keyup="mobileCount()" ng-paste="keepNumericsAndCountMobile()" class="md-input teaxtarea-scroll" rows="4" required ng-model="sms.quick_mobile" md-input></textarea>
                        </div>
                        <div class="parsley-row" ng-show="toShow==2">
                            <label>Group</label>
                            <selectize id="select_group" config="select_group_config" options="select_group_options" position="bottom" ng-model="sms.group_mobile"></selectize>
                        </div>
                        <div class="parsley-row" ng-show="toShow==3">
                            <h4 class="heading_a uk-margin-bottom">Notepad file</h4>
                            <div class="uk-form-file md-btn md-btn-primary">
                                &nbsp;&nbsp;Select File&nbsp;&nbsp;
                                <input id="form-file" type="file">
                            </div>
                        </div>
                        <div class="parsley-row" ng-show="toShow==4">
                            <h4 class="heading_a uk-margin-bottom">Excel file</h4>
                            <div class="uk-form-file md-btn md-btn-primary">
                                &nbsp;&nbsp;Select File&nbsp;&nbsp;
                                <input id="form-file" type="file">
                            </div>
                        </div> 
                    </div>
                    <div class="uk-width-medium-1-2 uk-width-large-1-2" >
                        <div class="parsley-row">
                            <input type="checkbox" ui-switch ng-model="sms.duplicate" id="duplicate" />   
                            <label for="duplicate" class="inline-label">Remove Duplicate</label>
                            <br>                            
                            <br>
                            <button ng-class="{disabled: mobCount}" ng-click="mobileCount()" type="button" class="md-btn md-btn-small md-btn-primary uk-text-center" style="width: 175px;" >Count Numbers: {{ mobile_count }}</button>
                            
                        </div>
                    </div>
                </div>          
                <div class="uk-grid" data-uk-grid-margin>                    
                    <div class="uk-width-medium-1-2">
                        <div class="parsley-row">
                            <label>Message</label>
                            <textarea ng-keyup="messageCount()" ng-paste="autoDetectLanguage()" ng-show="toShowUnicode != 'UNICODE'" class="md-input teaxtarea-scroll" rows="4" id="message" required ng-model="message" md-input></textarea>                       
                            <textarea ng-keyup="unicodeMessageCount()" ng-paste="autoDetectLanguage()" ng-show="toShowUnicode == 'UNICODE'" class="md-input teaxtarea-scroll" rows="4" id="unicode_message" required ng-model="message" md-input></textarea>                                                                            
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="sm-list-addon-icon material-icons">&#xE158;</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{ messagesCount }} / {{ remainingCount }} remaining</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="sm-list-addon-icon material-icons uk-text-success">&#xE158;</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{ totalCount }} Character Count</span>
                                </div>
                            </li>                                                     
                        </ul>
                        <div class="uk-width-medium-1">
                            <button type="button" class="md-btn md-btn-small md-btn-primary"  style="width: 175px;" >Select Template</button>
                        </div>
                        
                    </div>
                </div>                                                      
            </div>
        </div>
    </div>    
</div>
<div class="uk-grid" data-uk-grid-margin="">
    <div class="uk-width-medium-1">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-large-1 uk-text-center">
                        <button type="submit" class="md-btn md-btn-success" style="width: 120px;">Send</button> &nbsp;OR 
                        <button type="button" class="md-btn md-btn-warning" style="width: 120px;">Schedule</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
   
</script>