<div class="md-card uk-margin-medium-bottom">
    <div class="md-card-content">
        <div class="uk-overflow-container">
            <table class="uk-table uk-table-nowrap">
                <thead>
                <tr>
                   <!--  <th>
                    <input type="checkbox" name="checkbox_demo_1" id="checkbox_demo_1" icheck ng-model="checkbox_demo_1" />
                    </th> -->
                    <th class="uk-width-1-10 uk-text-center">Sr No.</th>
                    <th class="uk-width-2-10 uk-text-center">Group Name</th>
                    <th class="uk-width-2-10 uk-text-center">Description</th>
                    <th class="uk-width-2-10 uk-text-center">Total Contacts</th>
                    <th class="uk-width-1-10 uk-text-center">Status</th>
                    <!-- <th class="uk-width-1-10 uk-text-center">Created</th> -->
                    <th class="uk-width-2-10 uk-text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in groupData">
                        <!-- <td class="uk-text-center"><input type="checkbox" name="{{ 'checkbox_demo_' + $index }}" id="{{ 'checkbox_demo_' + $index }}" icheck ng-model="checkbox_demo_12" /></td> -->
                        <td class="uk-text-center">{{ data_per_page *(pagination.currentPage - 1)+$index+1 }}</td>
                        <td class="uk-text-center">{{ x.name }}</td>
                        <td class="uk-text-center">{{ x.groupDescription }}</td>
                        <td class="uk-text-center">{{ x.total_contacts }}</td>
                        <td class="uk-text-center">
                            <a ng-if="x.status == 0" ng-click="changeStatus(x.status,x.name,x.groupDescription,x.groupId)" data-uk-tooltip="{pos:'bottom'}" title="Click here to active" class="md-btn md-btn-small md-btn-warning md-btn-wave-light activeButton" href="javascript:void(0)">Deactive</a>
                            <a ng-if="x.status == 1" ng-click="changeStatus(x.status,x.name,x.groupDescription,x.groupId)" data-uk-tooltip="{pos:'bottom'}" title="Click here to deactive" class="md-btn md-btn-small md-btn-success md-btn-wave-light activeButton" href="javascript:void(0)">Active</a>                            
                        </td>
                        <!-- <td class="uk-text-center">{{ x.created }}</td> -->
                        <td class="uk-text-center">
                            <a href="javascript:void(0);"><i class="md-icon material-icons" data-uk-modal="{target:'#add_contact'}" ng-click="openAddContact(x.groupId,x.name)" data-uk-tooltip="{pos:'bottom'}" title="Add Contact">&#xE148;</i></a>
                            <a ui-sref="restricted.groupcontact({ groupId: x.groupId})"><i class="md-icon material-icons" data-uk-tooltip="{pos:'bottom'}" title="View Contact">&#xE8F4;</i></a>
                            <a href="javascript:void(0);"><i class="md-icon material-icons" data-uk-modal="{target:'#edit_group'}" ng-click="getGroupDetails(x.groupId)" data-uk-tooltip="{pos:'bottom'}" title="Edit">&#xE254;</i></a>
                            <a href="javascript:void(0);"><i class="md-icon material-icons" ng-click="deleteGroup(x.groupId)" data-uk-tooltip="{pos:'bottom'}" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>                                        
                </tbody>
            </table>
        </div>
        <!-- pager -->
        <ul ng-if="pagination.pages.length" class="uk-pagination uk-margin-medium-top">
            <li ng-class="{disabled:pagination.currentPage === 1}">
                <a ng-click="pagination.currentPage !== 1 && getData(1)"><span><i class="uk-icon-angle-double-left"></i></span></a>
            </li>
            <li ng-class="{disabled:pagination.currentPage === 1}">
                <a ng-click="pagination.currentPage !== 1 && getData(pagination.currentPage - 1)">Prev</i></span></a>
            </li>
            <li ng-repeat="page in pagination.pages" ng-class="{active:pagination.currentPage === page}">
                <a ng-click="pagination.currentPage !== page &&  getData(page)">{{page}}</a>
            </li>                
            <li ng-class="{disabled:pagination.currentPage === pagination.totalPages}">
                <a ng-click="pagination.currentPage !== pagination.totalPages && getData(pagination.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled:pagination.currentPage === pagination.totalPages}">
                <a ng-click="pagination.currentPage !== pagination.totalPages && getData(pagination.totalPages)"><i class="uk-icon-angle-double-right"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="uk-modal" id="edit_group">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">{{ groupDetailsData[0].name }}</h3>
        </div>        
        <div class="md-card-content">
            <form >
                <div class="uk-grid" data-uk-grid-margin="">                        
                    <div class="uk-width-medium-1 uk-row-first">
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Group Name</label>
                                <input type="text" class="md-input" ng-model="group.name" name="name" md-input />
                            </div>
                            
                        </div>
                        <div class="uk-form-row">
                           <div class="md-input-wrapper">
                                <label>Description</label>
                                <textarea class="md-input teaxtarea-scroll ng-pristine ng-isolate-scope ng-invalid ng-invalid-required md-input-processed ng-touched" rows="5" id="groupDescription" name="groupDescription" required="" ng-model="group.groupDescription" md-input="" style=""></textarea>
                                <span class="md-input-bar"></span>
                            </div>                            
                        </div>                        
                    </div>                 
                </div>
            </form>
        </div>       
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="updateGroup(group,groupDetailsData[0].groupId)">Update</button>
        </div>
    </div>
</div>

<div class="uk-modal" id="add_contact">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Add Contact</h3>
        </div>        
        <div class="md-card-content">
            <form >
                <div class="uk-grid" data-uk-grid-margin="">                        
                    <div class="uk-width-medium-1 uk-row-first">
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Group Name</label>
                                <input type="text" class="md-input" disabled ng-model="grp_data.name" md-input />
                            </div>                          
                        </div>  
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Name</label>
                                <input type="text" class="md-input" ng-model="contact.name" name="name" md-input />
                            </div>                          
                        </div> 
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Mobile</label>
                                <input type="text" class="md-input" ng-model="contact.mobile" name="mobile" md-input />
                            </div>                          
                        </div>
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Email</label>
                                <input type="text" class="md-input" ng-model="contact.emailId" name="emailId" md-input />
                            </div>                          
                        </div>  
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Designation</label>
                                <input type="text" class="md-input" ng-model="contact.designation" name="designation" md-input />
                            </div>                          
                        </div>                          
                    </div>                               
                </div>
            </form>
        </div>       
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="addGroupContact(contact,grp_data.id)">Add Contact</button>
        </div>
    </div>
</div>