<div class="md-card uk-margin-medium-bottom">
    <div class="md-card-content">
        <div class="uk-overflow-container">
            <table class="uk-table uk-table-nowrap">
                <thead>
                <tr>
                    <th>
                    <input type="checkbox" name="checkbox_demo_1" id="checkbox_demo_1" icheck ng-model="checkbox_demo_1" />
                    </th>
                    <th class="uk-width-1-10 uk-text-center">Sr No.</th>
                    <th class="uk-width-2-10 uk-text-center">Group Name</th>
                    <th class="uk-width-2-10 uk-text-center">Description</th>
                    <th class="uk-width-2-10 uk-text-center">Total Contacts</th>
                    <th class="uk-width-1-10 uk-text-center">Status</th>
                    <th class="uk-width-1-10 uk-text-center">Created</th>
                    <th class="uk-width-2-10 uk-text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in groupData">
                        <td class="uk-text-center"><input type="checkbox" name="{{ 'checkbox_demo_' + $index }}" id="{{ 'checkbox_demo_' + $index }}" icheck ng-model="checkbox_demo_12" /></td>
                        <td class="uk-text-center">{{ $index +1 }}</td>
                        <td class="uk-text-center">{{ x.group_name }}</td>
                        <td class="uk-text-center">{{ x.description }}</td>
                        <td class="uk-text-center">{{ x.total_contacts }}</td>
                        <td class="uk-text-center">
                            <a ng-if="x.status == 0" ng-click="changeStatus(x.status,x.group_name,x.id)" data-uk-tooltip="{pos:'bottom'}" title="Click here to active" class="md-btn md-btn-small md-btn-warning md-btn-wave-light activeButton" href="javascript:void(0)">Inactive</a>
                            <a ng-if="x.status == 1" ng-click="changeStatus(x.status,x.group_name,x.id)" data-uk-tooltip="{pos:'bottom'}" title="Click here to inactive" class="md-btn md-btn-small md-btn-success md-btn-wave-light activeButton" href="javascript:void(0)">Active</a>                            
                        </td>
                        <td class="uk-text-center">{{ x.created }}</td>
                        <td class="uk-text-center">
                            <a href="javascript:void(0);"><i class="md-icon material-icons" data-uk-modal="{target:'#add_contact'}" ng-click="openAddContact(x.id,x.group_name)" data-uk-tooltip="{pos:'bottom'}" title="Add Contact">&#xE148;</i></a>
                            <a ui-sref="restricted.groupcontact({ groupId: x.id})"><i class="md-icon material-icons" data-uk-tooltip="{pos:'bottom'}" title="View Contact">&#xE8F4;</i></a>
                            <a href="javascript:void(0);"><i class="md-icon material-icons" data-uk-modal="{target:'#edit_group'}" ng-click="getGroupDetails(x.id)" data-uk-tooltip="{pos:'bottom'}" title="Edit">&#xE254;</i></a>
                            <a href="javascript:void(0);"><i class="md-icon material-icons" ng-click="deleteGroup(x.id)" data-uk-tooltip="{pos:'bottom'}" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>                                        
                </tbody>
            </table>
        </div>
        <ul class="uk-pagination uk-margin-medium-top">
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
            <li class="uk-active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#">10</a></li>
            <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
        </ul>
    </div>
</div>
<div class="uk-modal" id="edit_group">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">{{ groupDetailsData[0].group_name }}</h3>
        </div>        
        <div class="md-card-content">
            <form >
                <div class="uk-grid" data-uk-grid-margin="">                        
                    <div class="uk-width-medium-1 uk-row-first">
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Group Name</label>
                                <input type="text" class="md-input" ng-model="group.group_name" name="group_name" md-input />
                            </div>                          
                        </div>                            
                    </div>
                    <div class="uk-width-medium-1">
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Description</label>
                                <textarea class="md-input teaxtarea-scroll ng-pristine ng-isolate-scope ng-invalid ng-invalid-required md-input-processed ng-touched" rows="5" id="description" name="description" required="" ng-model="group.description" md-input="" style=""></textarea>
                                <span class="md-input-bar"></span>
                            </div>                          
                        </div>
                    </div>                   
                </div>
            </form>
        </div>       
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="updateGroup(group,groupDetailsData[0].id)">Update</button>
        </div>
    </div>
</div>

<div class="uk-modal" id="add_contact">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Add Contact</h3>
        </div>        
        <div class="md-card-content">
            <form >
                <div class="uk-grid" data-uk-grid-margin="">                        
                    <div class="uk-width-medium-1 uk-row-first">
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Group Name</label>
                                <input type="text" class="md-input" disabled ng-model="grp_data.group_name" md-input />
                            </div>                          
                        </div>                            
                    </div>
                    <div class="uk-width-medium-1 uk-row-first">
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Name</label>
                                <input type="text" class="md-input" ng-model="contact.name" name="name" md-input />
                            </div>                          
                        </div>                            
                    </div>
                    <div class="uk-width-medium-1 uk-row-first">
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Mobile</label>
                                <input type="text" class="md-input" ng-model="contact.mobile" name="mobile" md-input />
                            </div>                          
                        </div>                            
                    </div>
                    <div class="uk-width-medium-1 uk-row-first">
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Email</label>
                                <input type="text" class="md-input" ng-model="contact.email" name="email" md-input />
                            </div>                          
                        </div>                            
                    </div>                 
                </div>
            </form>
        </div>       
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="addGroupContact(contact,grp_data.id)">Add Contact</button>
        </div>
    </div>
</div>