    <div id="page_content">
        <div id="page_content_inner">

            <!-- circular charts -->
            <div class="uk-grid" data-uk-grid-margin="">                
                <div class="uk-width-medium-1-4">
                    <div class="md-card md-card-hover md-card-overlay">
                        <div class="md-card-content">
                            <div class="epc_chart" options="epc_user_messages" percent="76">
                                <span class="epc_chart_icon"><i class="material-icons uk-text-success">&#xE0BE;</i></span>
                                <p>Total Message: {{dailyCount.TOTAL}}</p>
                            </div>
                        </div>
                        <div class="md-card-overlay-content">
                            <div class="uk-clearfix md-card-overlay-header">
                                <card-overlay-toggle></card-overlay-toggle>
                                <h3>
                                    Today's Count
                                </h3>
                            </div>
                            <p><i class="sm-list-addon-icon material-icons uk-text-success">&#xE0BE;</i> Delivered: {{dailyCount.DELIVERED}}</p>
                            <p><i class="sm-list-addon-icon material-icons uk-text-success">&#xE0BE;</i> Submited: {{dailyCount.SUBMITED}}</p>
                            <p><i class="sm-list-addon-icon material-icons uk-text-success">&#xE0BE;</i> Failed: {{dailyCount.FAILED}}</p>
                            <p><i class="sm-list-addon-icon material-icons uk-text-success">&#xE0BE;</i> Total: {{dailyCount.TOTAL}}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="md-card md-card-hover md-card-overlay">
                        <div class="md-card-content">
                            <div class="epc_chart" options="epc_user_messages" percent="76">
                                <span class="epc_chart_icon"><i class="material-icons uk-text-primary">&#xE0BE;</i></span>
                                <p>Total Message: {{weeklyCount.TOTAL}}</p>
                            </div>
                        </div>
                        <div class="md-card-overlay-content">
                            <div class="uk-clearfix md-card-overlay-header">
                                <card-overlay-toggle></card-overlay-toggle>
                                <h3>
                                    Weekly Count
                                </h3>
                            </div>
                            <p><i class="sm-list-addon-icon material-icons uk-text-primary">&#xE0BE;</i> Delivered: {{weeklyCount.DELIVERED}}</p>
                            <p><i class="sm-list-addon-icon material-icons uk-text-primary">&#xE0BE;</i> Submited: {{weeklyCount.SUBMITED}}</p>
                            <p><i class="sm-list-addon-icon material-icons uk-text-primary">&#xE0BE;</i> Failed: {{weeklyCount.FAILED}}</p>
                            <p><i class="sm-list-addon-icon material-icons uk-text-primary">&#xE0BE;</i> Total: {{weeklyCount.TOTAL}}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="md-card md-card-hover md-card-overlay">
                        <div class="md-card-content">
                            <div class="epc_chart" options="epc_user_messages" percent="76">
                                <span class="epc_chart_icon"><i class="material-icons uk-text-warning">&#xE0BE;</i></span>
                                <p>Total Message: {{monthlyCount.TOTAL}}</p>
                            </div>
                        </div>
                        <div class="md-card-overlay-content">
                            <div class="uk-clearfix md-card-overlay-header">
                                <card-overlay-toggle></card-overlay-toggle>
                                <h3>
                                    Monthly Count
                                </h3>
                            </div>
                            <p><i class="sm-list-addon-icon material-icons uk-text-warning">&#xE0BE;</i> Delivered: {{monthlyCount.DELIVERED}}</p>
                            <p><i class="sm-list-addon-icon material-icons uk-text-warning">&#xE0BE;</i> Submited: {{monthlyCount.SUBMITED}}</p>
                            <p><i class="sm-list-addon-icon material-icons uk-text-warning">&#xE0BE;</i> Failed: {{monthlyCount.FAILED}}</p>
                            <p><i class="sm-list-addon-icon material-icons uk-text-warning">&#xE0BE;</i> Total: {{monthlyCount.TOTAL}}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="md-card md-card-hover md-card-overlay">
                        <div class="md-card-content">
                            <div class="epc_chart" options="epc_user_messages" percent="76">
                                <span class="epc_chart_icon"><i class="material-icons uk-text-info">&#xE53E;</i></span>
                                <p>Balance</p>
                            </div>
                        </div>
                        <div class="md-card-overlay-content">
                            <div class="uk-clearfix md-card-overlay-header">
                                <card-overlay-toggle></card-overlay-toggle>
                                <h3>
                                    Balance Count
                                </h3>
                            </div>
                            <p><i class="sm-list-addon-icon material-icons uk-text-info">&#xE53E;</i> Promotional: {{userBalance.promotional}}</p>
                            <p><i class="sm-list-addon-icon material-icons uk-text-info">&#xE53E;</i> Transactional: {{userBalance.transactional}}</p>                            
                        </div>
                    </div>
                </div>
            </div>  
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-1-3">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h4 class="heading_c uk-margin-bottom">Today's</h4>
                            <div id="c3_chart_donut" class="c3chart"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h4 class="heading_c uk-margin-bottom">Weekly</h4>
                            <div id="c3_chart_donut2" class="c3chart"></div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h4 class="heading_c uk-margin-bottom">Monthly</h4>
                            <div id="c3_chart_donut3" class="c3chart"></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>        
    </div>
