.activeSmsType,
.activeSmsType:hover,
.activeSmsType:focus,
.activeSmsType:active {
  background: #8e0300;
  color: #fff;
}

.deActiveSmsType,
.deActiveSmsType:hover,
.deActiveSmsType:focus,
.deActiveSmsType:active {
  background: #eaeaea;
  color: #000;
}

.activeButton{
  width: 68px !important;
  text-align: center !important;
  padding: 2px !important;
}

.active a{
    background: #7cb342 !important;
    color: #fff !important;
}
.disabled a{
    border: none !important;
    text-shadow: none !important;
    background: transparent !important;
    color: #aaa !important;
    cursor: not-allowed !important;
}
.editSender{
  border-bottom: 2px dotted #7cb342;
  padding: 0 0 2px 0;
  font-weight: 600;
}
.erro-message{
  color: red;
}
.balance-dropdown{
    margin-top: 1px;
    max-height: 300px;
    top: 100% !important;
    right: auto !important;
    left: 0 !important;
}
.balance-dropdown ul{
  padding: 10px !important;
}

.balance-header{
  color: #5f8a27 !important;
}

.wrap_message{
    white-space:pre-wrap !important;
    white-space:-moz-pre-wrap !important;
    white-space:-pre-wrap !important;
    white-space:-o-pre-wrap !important;
    word-wrap:break-word !important;
}

@media only screen and (max-width: 768px) {
    .loaderImage{
           width: 22% !important;
          height: 16% !important;
    }
}

@media only screen and (max-width: 750px) {
    .loaderImage{
           width: 22% !important;
          height: 12% !important;
    }
}

@media only screen and (max-width: 420px) {
    .loaderImage{
            width: 26% !important;
          height: 14% !important;
    }
}

@media only screen and (max-width: 320px) {
    .loaderImage{
            width: 26% !important;
          height: 14% !important;
    }
}