.activeSmsType,
.activeSmsType:hover,
.activeSmsType:focus,
.activeSmsType:active {
  background: #8e0300;
  color: #fff;
}

.deActiveSmsType,
.deActiveSmsType:hover,
.deActiveSmsType:focus,
.deActiveSmsType:active {
  background: #eaeaea;
  color: #000;
}

.activeButton{
  width: 68px !important;
  text-align: center !important;
  padding: 2px !important;
}

.active a{
    background: #7cb342 !important;
    color: #fff !important;
}
.disabled a{
    border: none !important;
    text-shadow: none !important;
    background: transparent !important;
    color: #aaa !important;
    cursor: not-allowed !important;
}
.editSender{
  border-bottom: 2px dotted #7cb342;
  padding: 0 0 2px 0;
  font-weight: 600;
}
.erro-message{
  color: red;
}
