<div class="md-card uk-margin-medium-bottom">
    <div class="md-card-content">
        <div class="uk-overflow-container">
            <table class="uk-table uk-table-nowrap">
                <thead>
                    <tr>
                        <th class="uk-width-1-10 uk-text-center">Sr No.</th>
                        <th class="uk-width-2-10 uk-text-center">Title</th>
                        <th class="uk-width-2-10 uk-text-center">Message</th>
                        <th class="uk-width-1-10 uk-text-center">Created</th>
                        <th class="uk-width-2-10 uk-text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in userTemplateData">

                        <td class="uk-text-center">{{$index+1}}</td>
                        <td class="uk-text-center">{{data.name}}</td>
                        <td class="uk-text-center">{{data.description}}</td>
                        <td class="uk-text-center">{{data.created}}</td>
                        <td class="uk-text-center">
                         <a href="javascript:void(0);"><i class="md-icon material-icons" data-uk-modal="{target:'#edit_group'}" ng-click="getTemplateDetails(data.id)" data-uk-tooltip="{pos:'bottom'}" title="Edit">&#xE254;</i></a>
                         <a ><i class="md-icon material-icons" ng-click="deleteTemplate(data.id)" data-uk-tooltip="{pos:'bottom'}" title="Delete">&#xE872;</i></a>
                     </td>
                 </tr>

             </tbody>
         </table>
     </div>
    <!--  <ul class="uk-pagination uk-margin-medium-top" ng-if="vm.pager.pages.length">
        <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        <li class="uk-active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><span>&hellip;</span></li>
        <li><a href="#">10</a></li>
        <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
    </ul> -->

     <!-- pager -->
    <ul ng-if="vm.pager.pages.length" class="pagination">
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(1)"><span><i class="uk-icon-angle-double-left"></i></span></a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(vm.pager.currentPage - 1)"><span><i class="uk-icon-angle-double-left"></i></span></a>
        </li>
        <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
            <a ng-click="vm.setPage(page)">{{page}}</a>
        </li>                
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.totalPages)"><i class="uk-icon-angle-double-right"></i></a>
        </li>
    </ul>
    
</div>
</div>
<div class="uk-modal" id="edit_group">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
        <h3 class="uk-modal-title">Update Template</h3>
        </div>        
        <div class="md-card-content">
            <form >
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1 uk-row-first">
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Title Name</label>
                                <input type="text" class="md-input" ng-model="template.name" md-input />
                            </div>                          
                        </div>                            
                    </div>
                    <div class="uk-width-medium-1 uk-row-first">
                        <div class="uk-form-row">
                            <div class="md-input-wrapper">
                                <label>Description</label>
                                <!-- <input type="text" class="md-input" ng-model="template.description" md-input /> -->

                                <textarea class="md-input teaxtarea-scroll ng-pristine ng-isolate-scope ng-invalid ng-invalid-required md-input-processed ng-touched" ng-keyup="messageCount()" rows="4" id="temp_message" required="" ng-model="template.description" name="temp_message" md-input="" style=""></textarea>
                                <span class="md-input-bar"></span>
                            </div>                          
                        </div>                            
                    </div>
                     <div class="uk-width-medium-1-2">
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="sm-list-addon-icon material-icons">&#xE158;</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{ messagesCount }} / {{ remainingCount }} remaining</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="sm-list-addon-icon material-icons uk-text-success">&#xE158;</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{ totalCount }} Character Count</span>
                                </div>
                            </li>                                                     
                        </ul>
                       
                        
                    </div>
              
                </div>
            </form>
        </div>       
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="updateTemplate(template,template.id)">Update</button>
        </div>
    </div>
</div>