

<div class="md-card uk-margin-medium-bottom">
    <div class="md-card-content">
        <div class="uk-overflow-container">            
            <table class="uk-table uk-table-nowrap">
                <thead>
                    <tr>
                        <th class="uk-width-1-10 uk-text-center">Sr No.</th>
                        <th class="uk-width-2-10 uk-text-center">Title</th>
                        <th class="uk-width-2-10 uk-text-center">Message</th>
                        <th class="uk-width-1-10 uk-text-center">Created</th>
                        <th class="uk-width-2-10 uk-text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in userTemplateData">

                        <td class="uk-text-center">{{data_per_page *(pagination.currentPage - 1)+$index+1}}</td>
                        <td class="uk-text-center">{{data.name}}</td>
                        <td class="uk-text-center">{{data.description}}</td>
                        <td class="uk-text-center">{{data.created}}</td>
                        <td class="uk-text-center">
                           <a href="javascript:void(0);"><i class="md-icon material-icons" data-uk-modal="{target:'#edit_group'}" ng-click="getTemplateDetails(data.id)" data-uk-tooltip="{pos:'bottom'}" title="Edit">&#xE254;</i></a>
                           <a ><i class="md-icon material-icons" ng-click="deleteTemplate(data.id)" data-uk-tooltip="{pos:'bottom'}" title="Delete">&#xE872;</i></a>
                       </td>
                   </tr>

               </tbody>
           </table>
       </div>

        <!-- pager -->
        <ul ng-if="pagination.pages.length" class="uk-pagination uk-margin-medium-top">
            <li ng-class="{disabled:pagination.currentPage === 1}">
                <a ng-click="pagination.currentPage !== 1 && getData(1)"><span><i class="uk-icon-angle-double-left"></i></span></a>
            </li>
            <li ng-class="{disabled:pagination.currentPage === 1}">
                <a ng-click="pagination.currentPage !== 1 && getData(pagination.currentPage - 1)">Prev</i></span></a>
            </li>
            <li ng-repeat="page in pagination.pages" ng-class="{active:pagination.currentPage === page}">
                <a ng-click="pagination.currentPage !== page &&  getData(page)">{{page}}</a>
            </li>                
            <li ng-class="{disabled:pagination.currentPage === pagination.totalPages}">
                <a ng-click="pagination.currentPage !== pagination.totalPages && getData(pagination.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled:pagination.currentPage === pagination.totalPages}">
                <a ng-click="pagination.currentPage !== pagination.totalPages && getData(pagination.totalPages)"><i class="uk-icon-angle-double-right"></i></a>
            </li>
        </ul>
    
    </div>
</div>

<div class="uk-modal" id="edit_group">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Update Template</h3>
        </div>        
        <div class="md-card-content">
            <form >
                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1 uk-row-first">

                        <div class="uk-width-medium-1 uk-row-first">
                            <div class="uk-form-row">
                                <div class="md-input-wrapper">
                                    <label>Title Name</label>
                                    <input type="text" class="md-input" ng-model="template.name" md-input />
                                </div>                                
                            </div>
                            <div class="uk-form-row">
                               <div class="parsley-rowr">
                                    <label>Description</label>
                                    <textarea class="md-input teaxtarea-scroll" ng-keyup="messageCount()" rows="4" id="temp_message" required="" ng-model="template.description" name="temp_message" md-input="" style=""></textarea>
                                    
                                    <div class="uk-grid" data-uk-grid-margin>
                                        <div class="uk-text-left uk-width-medium-1-2">
                                            <div class="md-list-content">
                                                <span class="md-list-heading">{{ messagesCount }} / {{ remainingCount }} remaining</span>
                                            </div>
                                        </div>
                                        <div class="uk-text-right uk-width-medium-1-2">
                                            <div class="md-list-content">
                                                <span class="md-list-heading">{{ totalCount }} Character Count</span>
                                            </div>
                                        </div> 
                                    </div>
                                </div>                                
                            </div>                        
                        </div>                        
                    </div>

                </div>
            </form>
        </div>       
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
            <button type="button" class="md-btn md-btn-flat md-btn-flat-primary" ng-click="updateTemplate(template,template.id)">Update</button>
        </div>
    </div>
</div>
